name: Terraform-GitHub

on:
  workflow_dispatch:


jobs:
  MachineProvisioning:
    name: 'Windows VM Provisioning'
    runs-on: windows-latest
    env:
      ARM_SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTION_ID }}
      ARM_CLIENT_ID: ${{ secrets.CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      ARM_TENANT_ID: ${{ secrets.TENANT_ID }}

    steps:
    - name: 'Checkout code'
      uses: actions/checkout@v4.1.4

    - name: HashiCorp - Setup Terraform
      uses: hashicorp/setup-terraform@v2.0.3

    - name: Terraform Apply
      id: virtual_machine_details
      run: |
        cd ${{ GITHUB.workspace }}
        terraform init
        terraform plan
        terraform apply -auto-approve

        $resource_group_location = terraform output -raw resource_group_location
        write-host "resource_group_location : $resource_group_location"

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: my-artifact
        path: resource_group_location.txt

  ApplicationDeploy:
    name: 'Application Deployment'
    runs-on: ubuntu-latest
    needs:
    - MachineProvisioning

    steps:
    - name: Output Variable
      run: |
        echo "resource_group_location : $resource_group_location"
