name: Terraform-GitHub

on:
  workflow_dispatch:


jobs:
  MachineProvisioning:
    name: 'Windows VM Provisioning'
    runs-on: ubuntu-latest
    outputs:
        resource_group_location: ${{ steps.virtual_machine_details.outputs.resource_group_location }}
    env:
      ARM_SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTION_ID }}
      ARM_CLIENT_ID: ${{ secrets.CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      ARM_TENANT_ID: ${{ secrets.TENANT_ID }}

    steps:
    - name: 'Checkout code'
      uses: actions/checkout@v4.1.4

    - name: HashiCorp - Setup Terraform
      uses: hashicorp/setup-terraform@v2.0.3

    - name: Setup azure-cli
      uses: pietrobolcato/install-azure-cli-action@v1.0.1
      with:
        azure-cli: latest
    - name: Terraform Apply
      id: virtual_machine_details
      run: |
        cd ${{ GITHUB.workspace }}
        terraform init
        terraform plan
        terraform apply -auto-approve

        resource_group_location=$(terraform output -raw resource_group_location)
        echo "resource_group_location : $resource_group_location"

        echo "::set-output name=resource_group_location::$resource_group_location"

  ApplicationDeploy:
    name: 'Application Deployment'
    runs-on: ubuntu-latest
    env:
      resource_group_location: ${{ needs.MachineProvisioning.outputs.resource_group_location }}
    needs:
    - MachineProvisioning

    steps:
    - name: Output Variable
      run: |
        echo "resource_group_location : $resource_group_location"
